<table class="ui celled table">
  <thead>
    <tr>
      <th>name</th>
      <th>where</th>
      <th>when</th>
      <th>website</th>
    </tr>
  </thead>
  <tbody>
    <%conferences.each do |conference|%>
      <tr>
        <td><%=conference["name"]%></td>
        <td><%=conference["where"]%></td>
        <td><%=conference["when"]%></td>
        <td><a href='<%=conference["website"]%>' target='_new'><%=conference["website"]%></a></td>
      </tr>
    <%end%>
  </tbody>
</table>