<table class="ui very basic table">
  <thead>
    <tr>
      <th>name</th>
      <th>where</th>
      <th>when</th>
      <th>website</th>
    </tr>
  </thead>
  <tbody>
    <%events.each do |event|%>
      <tr>
        <td><%=event["name"]%></td>
        <td><%=event["where"]%></td>
        <td><%=event["when"]%></td>
        <td><a href='<%=event["website"]%>' target='_new'><%=event["website"]%></a></td>
      </tr>
    <%end%>
  </tbody>
</table>