<table class="ui pink table">
  <thead>
    <tr>
      <th>name</th>
      <th>where</th>
      <th>when</th>
      <th>website</th>
    </tr>
  </thead>
  <tbody>
    <%events.each do |event|%>
      <tr>
        <td><%=event["name"] || "&nbsp;"%></td>
        <td><%=event["where"] || "&nbsp;"%></td>
        <td><%=event["when"] || "&nbsp;"%></td>
        <td><a href='<%=event["website"]%>' target='_new'><%=event["website"] || "&nbsp;"%></a></td>
      </tr>
    <%end%>
  </tbody>
</table>