<table class="ui tablet stackable table">
  <tbody>
    <%events.each do |event|%>
      <tr>
        <td>
          <%if event["website"].nil? %>
            <%=event["name"] || "&nbsp;"%>
          <%else%>
            <a href='<%=event["website"]%>' target='_new'><i class="world icon"></i><%=event["name"] || "&nbsp;"%></a>
          <%end%> 
          <%unless event["twitter"].nil? %>
            <a href='http://twitter.com/<%=event["twitter"]%>' target='_new'>
              <i class="blue twitter icon"></i>
            </a>
          <%end%>
        </td>
        <!-- <td><%=event["description"] || "&nbsp;"%></td> -->
        <td><i class="marker icon"></i><%=event["where"] || "&nbsp;"%></td>
        <td><i class="calendar icon"></i><%=event["when"] || "&nbsp;"%></td>
      </tr>
    <%end%>
  </tbody>
</table>