<table class="ui celled table">
  <thead>
    <tr>
      <th>name</th>
      <th>website</th>
      <th>where</th>
      <th>when</th>
    </tr>
  </thead>
  <tbody>
    <%groups.each do |group|%>
      <tr>
        <td><%=group["name"]%></td>
        <td><a href='<%=group["website"]%>' target='_new'><%=group["website"]%></a></td>
        <td><%=group["where"]%></td>
        <td><%=group["when"]%></td>
      </tr>
    <%end%>
  </tbody>
</table>